body {
    margin-top: 60px;
    text-align: center;
   background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   
}

h1 {
    padding-bottom: 0.2rem;
    color:black;
    text-decoration: underline;
}

input[type=number] {
    cursor: pointer;

}

#input-celsius {
    background-color: #41dced;
    font-size: 1rem;
    text-align: center;
    text-decoration: wavy;
}

#input-fahrenheit {
    background-color: #5cdab4;
    font-size: 1rem;
    text-align: center
}

#input-kelvin {
    background-color: #e3ab85;
    font-size: 1rem;
    text-align: center
}

.form-padding {
    padding: 2rem 1rem;
}

::-webkit-input-placeholder {
    color: #FFFFFF !important;
}

::-moz-placeholder {
    color: #FFFFFF !important;
}

:-ms-input-placeholder {
    color: #FFFFFF !important;
}

:-moz-placeholder {
    color: #FFFFFF !important;
}

footer {
    padding-top: 1.5rem;
    font-size: 0.7rem;
    line-height: 0.2rem;
    text-align: center;
}

.icons {
    max-width: 25px;
    height: auto;
    pos
    
}